@typeparam TItem where TItem : notnull
@inherits Chart<TItem>

<div class="bar-chart @ContainerClass">
    @foreach (var item in Items)
    {
        <div class="bar @GetItemClass(item)" style="@GetItemStyle(item)" @onclick="() => ActivateItem(item)" @key="item">
            <div class="bar-value">@ItemValue(item)</div>
            <div class="bar-title">@ItemTitle(item)</div>
        </div>
    }
</div>

@code {
    private string ContainerClass => ClassList.Create("selectable", HasSelection)
                                              .Add("show-titles", ShowTitles)
                                              .Add("show-values", ShowValues);

    private string GetItemClass(TItem item)
        => ClassList.Create("active", IsItemActive(item));

    private string GetItemStyle(TItem item)
        => StyleList.Create("height", $"calc({ItemValue(item)} / {Items.Max(ItemValue)} * 100%)");
}
